* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background-color: rgb(232,228,232);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(17, 61, 12, 1) 100%, rgba(0, 212, 255, 1) 100%); */
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(232, 228, 232);
}

.nav{
    height: 12%;
    width: 100%;
    background-color:white;
    display: flex;
}

.nav1{
    height: 100%;
    width: 15%;
    /* background-color: rgb(152, 152, 185); */
}

.nav1 img{
    padding-top: 2.5vh;
}

.nav2{
    height: 100%;
    width: 45%;
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 54%;
    width: 90%;
    background-color: rgb(222, 235, 234);
    border-radius: .8vw;
}

.box i{
    font-size: 1.7vw;
}

.box p{
    padding-left: 1vw;
    padding-top: .7vw;
    color: rgb(77, 76, 76);
}

.nav3{
    height: 100%;
    width: 10%;
    /* background-color: rgb(0, 255, 26); */
}

.nav3 i{
    font-size: 1.8vw;
}

.nav3 .down{
    font-size: 1.3vw;
}

.nav3 p{
    padding-left: .6vw;
    padding-top: 2vw;
}

.nav4{
    height: 100%;
    width: 10%;
    /* background-color: rgb(255, 0, 106); */
}

.nav4 i{
    font-size: 1.9vw;
}

.nav4 p{
    padding-top: 2vw;
    padding-left: 1.2vw;
}

.nav5{
    height: 100%;
    width: 14%;
    /* background-color: rgb(255, 174, 0); */
}

.nav5 i{
    font-size: 1.8vw;
}

.nav5 p{
    padding-top: 2vw;
    padding-left: .6vw;
}

.nav6{
    height: 100%;
    width: 6%;
    /* background-color: rgb(0, 191, 255); */
    display: flex;
    align-items: center;
}

.nav6 i{
    font-size: 1.6vw;
    padding-left: .7vw;
}

.content{
    height: 20%;
    width: 96%;
    background-color: white;
    margin-left: 1.9vw;
    margin-top: .7vw;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction:row;
}

.content1{
    display: flex;
    flex-direction: column;
}

.content1 img{
    margin-bottom: 1.1vw;
}

.content1 p{
    font-size: 13px;
    font-weight: 550;
    margin-bottom: .8vw;
}

.bottom{
    height: 35%;
    width: 96%;
    /* background-color: brown; */
    margin-top: 10px;
    margin-left: 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .ff {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ff img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.electronics{
    height:49%;
    width: 100%;
    background-color:rgb(232,228,232);
    margin-left: 2vw;
    margin-top: 1.3vw; 
    display: flex;
}

.elec1{
    height: 100%;
    width: 80%;
    background-color:white;
}

.elec2{
    height: 100%;
    width: 20%;
    background-color:white;
    margin-left: 1.2vw;
}

.elec2 img{
    height: 22vw;
    width: 15vw;
    padding-top: .4vw;
}

.heading1{
    height: 20%;
    width: 100%;
    /* background-color: rgb(226, 43, 119); */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.heading1 h3{
    padding-top: 1.5vw;
    margin-left: 1.3vw;
}

.heading1 i{
    font-size: 2.5vw;
    margin-top: 1.5vw;
    margin-right: 1.3vw;
    background-color: blue;
    height: 1.9vw;
    width: 2vw;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading2{
    height: 80%;
    width: 100%;
    /* background-color: brown; */
}

.swiper{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

.aa{
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-container{
    height: 98%;
    width: 100%;
    border: 1px solid rgb(180, 174, 174);
    border-radius: 6px;
    margin-left: 13px;
}
.aa img{
    padding-top: 1vw;
    height: 13vw;
    width: 10vw;
}
.img{
    height: 80%;
    width: 100%;
    /* background-color: blue; */
}


.img-desc p{
    font-size: 1vw;
}

.img-desc{
    font-size: 1.1vw;
    height: 20%;
}

.more{
    height:49%;
    width: 96%;
    background-color: white;
    margin-left: 2.3vw;
    margin-top: 1.3vw; 
    /* display: flex; */
}

.head1{
    height: 20%;
    width: 100%;
    /* background-color: rgb(226, 43, 119); */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.head1 h3{
    padding-top: 1.5vw;
    margin-left: 1.3vw;
}

.head1 i{
    font-size: 2.5vw;
    margin-top: 1.5vw;
    margin-right: 1.3vw;
    background-color: blue;
    height: 1.9vw;
    width: 2vw;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head2{
    height: 80%;
    width: 100%;
    /* background-color: brown; */
}

.swiper{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

.gg{
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container{
    height: 98%;
    width: 100%;
    border: 1px solid rgb(180, 174, 174);
    border-radius: 6px;
    margin-left: 13px;
}
.gg img{
    padding-top: 1vw;
    height: 13vw;
    width: 13vw;
}
.img{
    height: 80%;
    width: 100%;
    /* background-color: blue; */
}


.img-desc p{
    font-size:1vw ;
}

.img-desc{
    font-size: 1.1vw;
    height: 20%;
}

.offers{
    height: 35%;
    width: 96%;
    background-color:white;
    /* position: absolute; */
    margin-left: 2.2vw;
    margin-top: 1.3vw;
    display: flex;
    justify-content: space-evenly;
}

.offer1{
    height: 100%;
    width: 32.5%;
    /* background-color: rgb(0, 255, 55); */
}
.offer2{
    height: 100%;
    width: 32.5%;
    /* background-color: red; */
}
.offer3{
    height: 100%;
    width: 32.5%;
    /* background-color: rgb(255, 0, 140); */
}

.offers img{
    height: 200px;
    width: 376px;
}

.fashion{
    height:49%;
    width: 96%;
    background-color:white;
    margin-left: 2.3vw;
    margin-top: 1.3vw; 
    /* display: flex; */
}

.fashion-heading{
    height: 20%;
    width: 100%;
    /* background-color: rgb(226, 43, 119); */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.fashion-heading h3{
    padding-top: 1.5vw;
    margin-left: 1.3vw;
}

.fashion-heading i{
    font-size: 2.5vw;
    margin-top: 1.5vw;
    margin-right: 1.3vw;
    background-color: blue;
    height: 1.9vw;
    width: 2vw;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fashion-content{
    height: 80%;
    width: 100%;
    /* background-color: brown; */
}

.bb{
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bb img{
    padding-top: 1vw;
    height: 13vw;
    width: 11.5vw;
}

.footer {
    height: 55%;
    width: 100%;
    background-color: rgb(24, 22, 22);
    margin-top: 1vw;
}

.footer1 {
    height: 80%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    border-bottom: 1px solid #969191;
}



.footer1-left {
    height: 100%;
    width: 55%;
    display: flex;
    /* background-color: deeppink; */
}

.footer1-right {
    height: 100%;
    width: 45%;
    display: flex;
    /* background-color: crimson; */
}

.foot {
    height: 100%;
    width: 25%;
}

.foot1 h4 {
    margin-top: 20%;
    margin-left: 20%;
    font-weight: 500;
    font-size: 12px;
    color: #969191;
}

.foot1 p {
    font-size: 12px;
    margin-top: 2%;
    margin-left: 20%;
    color: white;
    font-weight: 600;
}

.foot2 h4 {
    margin-top: 20%;
    margin-left: 20%;
    font-weight: 500;
    font-size: 12px;
    color: #969191;
}

.foot2 p {
    font-size: 12px;
    margin-top: 2%;
    margin-left: 20%;
    color: white;
    font-weight: 600;
}

.foot3 h4 {
    margin-top: 20%;
    margin-left: 20%;
    font-weight: 500;
    font-size: 12px;
    color: #969191;
}

.foot3 p {
    font-size: 12px;
    margin-top: 2%;
    margin-left: 20%;
    color: white;
    font-weight: 600;
}

.foot4 h4 {
    margin-top: 20%;
    margin-left: 20%;
    font-weight: 500;
    font-size: 12px;
    color: #969191;
}

.foot4 p {
    font-size: 12px;
    margin-top: 2%;
    margin-left: 20%;
    color: white;
    font-weight: 600;
}

.foot5 {
    height: 70%;
    width: 10%;
    margin-top: 5%;
    border-right: 1px solid #969191;
}

.feet1 {
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
}

.feet2 {
    height: 100%;
    width: 50%;
    /* background-color: gold;   */
}

.feet1 h4 {
    margin-top: 15%;
    margin-left: 10%;
    font-weight: 500;
    font-size: 12px;
    color: #969191;
}

.feet1 p {
    font-size: 14px;
    margin-top: 2%;
    margin-left: 10%;
    color: white;
    font-weight: 600;
}

.feet2 h4 {
    margin-top: 15%;
    margin-left: 10%;
    font-weight: 500;
    font-size: 12px;
    color: #969191;
}

.feet2 p {
    font-size: 14px;
    margin-top: 5%;
    margin-left: 10%;
    color: white;
    font-weight: 600;
}

.footer2 {
    height: 20%;
    width: 100%;
    /* background-color: red; */
    display: flex;
}

.last1{
    height: 100%;
    width: 70%;
    /* background-color: green; */
   
}

.last2{
    height: 100%;
    width: 30%;
    /* background-color: skyblue; */
}

.last1 a{
    color:white;
    text-decoration: none;
    font-size: 13px;
    margin-left: 7vw;
}

.anchors{
    height: 20%;
    width: 100%;
    /* background-color: blue; */
    margin-top: 3%;
}

.last2 img{
    margin-top: 7%;
    margin-right: 6%;
}

